[production]
last 3 chrome versions
last 3 firefox versions
last 3 opera versions
last 3 edge versions
last 3 safari versions
last 3 chromeandroid versions
last 1 firefoxandroid versions
ios >= 13.4
node 18.12.0

[esnext]
last 1 chrome versions

[server-only]
node 18.12.0
