{
  "extends": [
    "plugin:shopify/typescript-react",
    "plugin:shopify/typescript-prettier"
  ],
  "rules": {
    "react/jsx-no-bind": "off",
    "shopify/restrict-full-import": ["error", "lodash"]
  }
}
