node_modules
coverage
templates
gems/**/dummy
.cache
packages/*/build
**/*.js
**/*.esnext
**/*.mjs
**/tests/fixtures/**/default-types/*.ts

# Don't lint fixtures
packages/storybook-a11y-test/tests/fixtures/storybook
packages/graphql-typescript-definitions/tests/fixtures/**/*.graphql.d.ts
