node_modules
coverage
templates
gems/**/dummy
.loom
packages/*/build
**/*.js
**/*.esnext
**/*.mjs
**/tests/fixtures/**/default-types/*.ts

# Don't lint fixture graphql files as they include schemas
packages/graphql-config-utilities/src/tests/fixtures/**/*.graphql
packages/graphql-typescript-definitions/tests/fixtures/**/*.graphql
packages/graphql-validate-fixtures/tests/fixtures/**/*.graphql

# Don't lint storybook-a11y-fixtures
packages/storybook-a11y-test/tests/fixtures/storybook
