node_modules
coverage
templates
gems/**/dummy
packages/*/build
**/*.d.ts
**/*.js
**/*.esnext
**/*.mjs
**/test/fixtures/**/default-types/*.ts

# Don't lint fixture graphql files as they include schemas
packages/graphql-config-utilities/src/tests/fixtures/**/*.graphql
packages/graphql-typescript-definitions/test/fixtures/**/*.graphql
packages/graphql-validate-fixtures/test/fixtures/**/*.graphql
