node_modules
.cache
packages/*/build
coverage
*.svg
templates/*.md
templates/*.hbs
/README.md

# Deliberatly invalid code that prettier can not process
packages/graphql-validate-fixtures/tests/fixtures/fixture-invalid/**/*.graphql
packages/graphql-validate-fixtures/tests/fixtures/fixture-invalid/**/*.json

packages/graphql-typescript-definitions/tests/fixtures/*

# Don't lint storybook-a11y-fixtures
packages/storybook-a11y-test/tests/fixtures/storybook
