package.json
node_modules
packages/*/build
coverage
*.svg
templates/*.md
/README.md

# Deliberatly invalid code that prettier can not process
packages/graphql-validate-fixtures/test/fixtures/fixture-invalid/**/*.graphql
packages/graphql-validate-fixtures/test/fixtures/fixture-invalid/**/*.json
