<!DOCTYPE html>
<html>
<head>
  <title>React Render Error</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="refresh" content="3;URL='/'" />
  <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@5.1.0/dist/styles.css" />
</head>
<body>
  <div>
    <div>
      <h1>Waiting for React Sever to boot up.</h1>
      <p>This page will refresh automatically.</p>
    </div>
    <p>
      If this error persists, ensure <code>@shopify/react-server</code>
      is running on <code>http://localhost:8081</code>.
    </p>
  </div>
</body>
</html>
